@import url(../css/header.css);
@import url(../css/burger.css);
@import url(../css/portfolio.css);
@import url(../css/my-skills.css);
@import url(../css/my-services.css);
@import url(../css/contacts.css);
@import url(../css/footer.css);

/* Основные настройки стилей */
html {
    scroll-behavior: smooth;
}
body {
    box-sizing: border-box;
    font-family: 'IBM Plex Mono', monospace;
    font-style: normal;
    font-weight: 400;
    background-color: #000;
    color: #fff;
}
a {
    text-decoration: none;
}
.text-h1,
.text-h2,
.text-h3,
.text-p {
    letter-spacing: -0.03em;
}
.text-nav {
    font-size: 20px;
    line-height: 27px;
    text-transform: lowercase;
}
.text-h1 {
    font-size: 80px;
    line-height: 70px;
}
.text-h2 {
    font-size: 55px;
    line-height: 72px;
}
.text-h3 {
    font-size: 35px;
    line-height: 46px;
}
.text-p {
    font-size: 22px;
    line-height: 29px;
}
:root {
    --accent-color: #ff25c2;
    --dark-color: #191c19;
}
button,
input {
    font-family: 'IBM Plex Mono', monospace;
    font-style: normal;
    font-weight: 400;
    letter-spacing: -0.03em;
}
.container {
    width: 1150px;
    margin: 0 auto;
}

@media only screen and (max-width: 1199px) {
    .text-h1 {
        font-size: 60px;
    }
    .text-h2 {
        font-size: 45px;
        line-height: 58px;
    }
    .text-h3 {
        font-size: 28px;
        line-height: 36px;
    }
    .text-p {
        font-size: 18px;
        line-height: 23px;
    }
    .container {
        width: 100%;
        padding-left: 15px;
        padding-right: 15px;
    }
}
@media only screen and (max-width: 767px) {
    .text-h1 {
        font-size: 40px;
        line-height: 47px;
    }
    .text-h2 {
        font-size: 30px;
        line-height: 39px;
    }
    .container {
        padding-left: 13px;
        padding-right: 12px;
    }
}